.Container {
  display: flex;
  justify-content: flex-end;
}

.Wrapper {
  position: relative;
}

.Popover{
  position: absolute;
  z-index: 3;
  top: 48px;
  right: 10px;
}

.Cover{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* .UserCicle {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #34bf75;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
} */

.WrapperContent {
  position: relative;
  z-index: 4;
}

.Menu {
  position: relative;
  width: 100px;
  background: #303f52;

  border: none;
  box-shadow: 0 1px 2px 0 rgba(64, 80, 108, 0.2),
    0 0 24px -1px rgba(64, 80, 108, 0.2);
  border-radius: 8px;
}
.Menu:after {
    content: "";
    position: absolute;
    right: 10px;
    top: -14px;
    border: 7px solid transparent;
    border-bottom: 7px solid #303f52;
  }

.MenuItem{
  padding: 10px 10px 10px 25px;
  font-size: 14px;
  color: #aac2e0;
  line-height: 1;
  cursor: pointer;
  font-weight: 600;
}
.MenuItem:not(:last-child) {
    border-bottom: 1px solid rgba(64, 80, 108, 0.1);
}

.MenuItem:hover {
    background-color: #aac2e0;
    color: #000;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
  }


