.header{
    width: 100%;
    max-width: 960px;
    min-width: 430px;
    display: flex;
    justify-content: space-between;
    flex: 0 0 938px;
    padding: 10px;
    margin-top: -50px;
    border-radius: 20px 20px 0 0 ;
    /* color: #fff; */
    font-family: Uni Sans;
    background-color: #121820;
    
    /* border: 1px solid goldenrod; */
    
}
.header_input{
    width: 600px;
    height: 35px;
    margin-top: 8px;
    margin-left: -20px;
    background: #303f52;
    color: #aac2e0;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 30%);
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding-left: 10px;
}

.header_input::placeholder {
    
    color: #aac2e0;
    font-size: 16px;
  }
  .header_input:focus::placeholder{
      opacity: 0;
      border: none;
     
  }
.btn_header{
    width: 120px;
    height: 40px;
    background-color: goldenrod;
    border-radius: 15px;
    font-size: 18px;
    padding: 5px;
    margin-top: 5px;
    margin-right: 20px;
    font-weight: 600;
    border: none;
    
}
.btn_header:hover{
    cursor: pointer;
    color: #fff;
    background-color:rgb(134, 99, 10);
}

.header_section{
    display:flex;
    align-items: center;
}

.logo{
    width: 150px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /* border: 1px dotted yellowgreen; */
    margin-left: 25px;
    font-size: 20px;
    color: goldenrod;
    font-weight: 600;
  }
  .logo:hover{
      cursor: pointer;
      color: darkgoldenrod;
  }