.sel_style { 
    
    
    font-size: 14px; 
    font-family: sans-serif; 
    font-weight: 700; 
    color: #aac2e0; 
    padding: .6em 0 .5em .8em; width: 100%; 
    height: 35px;
    border: none;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .5em;
    background-color: #121820; 
} 
.sort_by{
    width: 40%;
    
}
     .sel_style:hover { 
         border-color: #aac2e0;
         color: #aac2e0;
    } 
    
    .sel_style:focus { 
        border-color: #aac2e0; 
        color: #aac2e0;
        box-shadow: 0 0 1px 1px #aac2e0;
        
        color: #222;
        outline: none; 
    } 
    .sel_style:optional{
        color: #aac2e0;
    }
     
     
    
     .sel_style > option {
        
        border: 0;
        background-color: #121820; 
        color: #aac2e0;
        
    }

    .year_block{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 40px;
        max-height: 55px;
        /* border: 1px solid green; */
    }
    .year {
      display: flex;
      justify-content: center;
      align-items: center;
       width: 80%;
      /* border: 1px solid yellow; */
       padding: 10px 5px 10px 2px;
       
    }
    .left_sel{
        width: 100%;
        min-width: 75px;
    }

@media screen and (max-width: 820px){
    .year{
        text-align: center;
    }
    .year_block{
        
        margin-left: 10px;
    }
}   