body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(back1.jpg) no-repeat center top fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
    width: 100%;
    max-width: 960px;
    min-width: 430px;
    margin: auto; 
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.menu {
    padding: 40px 40px;
    width: 100%;
    max-width: 960px;
    min-width: 430px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
    padding: 10px;
    border: 1px dotted orange;
    background-color: #202935 ;
  
}

.pagin_top{
    width:300px;
    /* border: 1px solid rgb(3, 248, 113); */
    display: flex;
    justify-content: center;
    
}
.pagin_bottom{
    width:100%;
    /* border: 1px solid rgb(176, 240, 2); */
    display: flex;
  
}

.menu_left{
    width: 230px;
    /* border: 1px dotted blue; */
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;

}
.context {
  width: 650px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid yellow; */
  box-sizing:border-box;
  
}
.card{
    width: 100%;
    max-width:625px;
    /* border: 1px solid red; */
    background-color: #121820;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    margin: 5px 0px 5px 5px;
}
.card_img{
    width: 250px;
    height: 150px;
    border-radius: 10px;
}
.filter{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
    /* flex-wrap: wrap; */
    /* border: 1px dotted gray; */
}


